@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Permanent+Marker&display=swap");

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
